<!-- Begin Content -->
<div class="content-inner active profile">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti ti-home"></i></a></li>
                            
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <!-- Begin Widget -->
            <%- include('./common/dashboard-widget.ejs') %>
            <!-- End Widget -->

            <!-- put your stuffs here -->        
           
            <!-- end your stuffs here -->
        </div>
        <!-- End Row -->
    </div>
</div>
