<div class="col-xl-3"> 
    <div class="widget has-shadow">
       <div class="widget-body">
           
           <h3 class="text-center mt-3 mb-1"> <%= user.username %> </h3>
           <p class="text-center"> <%= user.email %> </p>
           <div class="em-separator separator-dashed"></div>
           <ul class="nav flex-column">
               

               <% if(_locals.isLoggedIn) { %>

                   <li class="nav-item">
                       <a class="nav-link" href="/users/profile/changepassword"><i class="la la-key la-2x align-middle pr-2"></i>Change your password</a>
                   </li>

                   <% if(_locals.user.role == 'writer'){ %>
                   <li class="nav-item">
                       <a class="nav-link" href="/writers/posts"><i class="la la-clipboard la-2x align-middle pr-2"></i>Posts</a>
                   </li>
                   <% } %>
                   <% if(_locals.user.role == 'sub'){ %>
                   <li class="nav-item">
                       <a class="nav-link" href="/subscribers/extend"><i
                               class="la la-credit-card la-2x align-middle pr-2"></i>Subscriptions</a>
                   </li>
                   <% } %>
                   
                   <% if(_locals.user.role == 'admin'){ %>
                   <li class="nav-item">
                       <a class="nav-link" href="/admin"><i class="la la-database la-2x align-middle pr-2"></i>Dashboard</a>
                   </li>
                   <% } %>
               <% } else { %>
                   <% if(_locals.user.role == 'writer'){ %>
                       <li class="nav-item">
                           <a class="nav-link" href="javascript:void(0)"><i class="la la-clipboard la-2x align-middle pr-2"></i>Posts</a>
                       </li>
                   <% } %>
               <% } %>
               
           </ul>
       </div>
   </div>
</div>