<div class="container pt-3">
    <!-- Form -->
    <div class="widget has-shadow">
        <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>Default Form</h4>
        </div>
        <div class="widget-body">
            <form class="needs-validation" novalidate>
                <div class="form-group row d-flex align-items-center mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Tiêu đề</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Nhập tiêu đề...">
                    </div>
                </div>
                <div class="form-group row d-flex align-items-center mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Chuyên mục cha</label>
                    <div class="col-lg-5">
                        <div class="select">
                            <select name="account" class="custom-select form-control" required>
                                <option value="">Select an option</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                                <option>option 6</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select an option
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row d-flex align-items-center mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Chuyên mục con</label>
                    <div class="col-lg-5">
                        <div class="select">
                            <select name="account" class="custom-select form-control" required>
                                <option value="">Select an option</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                                <option>option 6</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select an option
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row d-flex align-items-center mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Nội dung tóm tắt</label>
                    <div class="col-lg-10">
                        <input type="url" class="form-control" placeholder="Nhập nội dung tóm tắt...">
                    </div>
                </div>
                <div class="form-group row d-flex align-items-center mb-2">
                    <label class="col-lg-2 form-control-label d-flex">
                        Nhãn
                    </label>
                    <div class="col-lg-10">
                        <!-- <textarea style="resize: none;" class="form-control" placeholder="Gõ enter để tạo tag"
                            required></textarea> -->
                        <div class="tags-container">
                           
                            <input class="tag-input" type="text" placeholder="Thêm tag...">
                        </div>
                        
                    </div>
                </div>
                <div class="em-separator separator-dashed"></div>
                <div class="form-group row mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Checkbox *</label>
                    <div class="col-lg-5">
                        <div class="custom-control custom-checkbox styled-checkbox">
                            <input class="custom-control-input" type="checkbox" name="checkbox" id="check-1" required>
                            <label class="custom-control-descfeedback" for="check-1">Tick me</label>
                            <div class="invalid-feedback">
                                Tick me please!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-lg-2 form-control-label d-flex">Radios *</label>
                    <div class="col-lg-2">
                        <div class="custom-control custom-radio styled-radio mb-3">
                            <input class="custom-control-input" type="radio" name="options" id="opt-01" required>
                            <label class="custom-control-descfeedback" for="opt-01">Option 1</label>
                            <div class="invalid-feedback">
                                Toggle this custom radio
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-control custom-radio styled-radio mb-3">
                            <input class="custom-control-input" type="radio" name="options" id="opt-02" required>
                            <label class="custom-control-descfeedback" for="opt-02">Option 2</label>
                            <div class="invalid-feedback">
                                Or toggle this other custom radio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-gradient-01" >Submit Form</button>
                    <button class="btn btn-shadow" >Reset</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Form -->
</div>
<script type="text/javascript">
    


</script>