<div class="content">
    <div class="error-404-header">
        <div class="container">
            <h1 class="site-text-color">Error 404 *</h1>
        </div>
    </div>
    <div class="container">
        <div class="error-404">
            <h2>Are you lost?</h2>
            <p>Sorry, the page you asked for couldn't be found.<br/> please try using the search form below.</p>
            <form class="search-form">
                <input type="submit" value="" class="search-form-button">
                <input type="text" name="email" placeholder="Search" class="search-form-line">
            </form>
        </div>
    </div>
</div>