<div class="content">
    <div class="container">

        <!-- =====================================================================
                                     START THE SLIDER
    ====================================================================== -->
        <div class="the-slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right"
            data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
            <div class="row">
                <div class="col-md-8 slider-left">
                    <div class="slide-arrows">
                        <div class="slide-left"></div>
                        <div class="slide-right"></div>
                    </div>
                    <ul class="slide-wrapper">
                        <li class="slide"><img src="/images/slider/slider-1.jpg" alt="slider image"></li>
                        <li class="slide"><img src="/images/slider/slider-2.jpg" alt="slider image"></li>
                        <li class="slide"><img src="/images/slider/slider-3.jpg" alt="slider image"></li>
                    </ul>
                    <ul class="the-bullets-dots" data-tesla-plugin="bullets">
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                </div>
                <div class="col-md-4 slider-right">
                    <ul class="the-bullets" data-tesla-plugin="bullets">
                        <li>
                            <span>01</span>
                            <h4>Politics</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <span>02</span>
                            <h4>Technology</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <span>03</span>
                            <h4>Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- =====================================================================
                                     END THE SLIDER
    ====================================================================== -->

        <div class="editor-choice">
            <div class="site-title">Editors choice</div>

            <div class="row">
                <div class="col-md-3">
                    <div class="home-post">
                        <div class="home-post-cover">
                            <img src="/images/photos/technology/post-2.jpg" alt="home page post">
                        </div>
                        <h2 class="home-post-title">
                            <a href="/post.html">Cras bibendug at ustorna ret Tre vivo trui lopull isdo</a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="home-post-details">
                            <span>Posted : </span>20 oct &nbsp; / &nbsp; travel
                        </div>
                        <div class="home-post-more">
                            <a href="/post.html" class="comment-more">53 comments</a>
                            <a class="click-more" href="/post.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-post">
                        <div class="home-post-cover">
                            <img src="/images/photos/technology/post-1.jpg" alt="home page post">
                        </div>
                        <h2 class="home-post-title">
                            <a href="/post.html">Cras bibendug at ustorna ret Tre vivo trui lopull isdo</a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="home-post-details">
                            <span>Posted : </span>20 oct &nbsp; / &nbsp; technology
                        </div>
                        <div class="home-post-more">
                            <a href="/post.html" class="comment-more">53 comments</a>
                            <a class="click-more" href="/post.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-post">
                        <div class="home-post-cover">
                            <img src="/images/photos/world/post-2.jpg" alt="home page post">
                        </div>
                        <h2 class="home-post-title">
                            <a href="/post.html">Cras bibendug at ustorna ret Tre vivo trui lopull isdo</a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="home-post-details">
                            <span>Posted : </span>20 oct &nbsp; / &nbsp; sport
                        </div>
                        <div class="home-post-more">
                            <a href="/post.html" class="comment-more">53 comments</a>
                            <a class="click-more" href="/post.html">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-post">
                        <div class="home-post-cover">
                            <img src="/images/photos/world/post-1.jpg" alt="home page post">
                        </div>
                        <h2 class="home-post-title">
                            <a href="/post.html">Cras bibendug at ustorna ret Tre vivo trui lopull isdo</a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="home-post-details">
                            <span>Posted : </span>20 oct &nbsp; / &nbsp; design
                        </div>
                        <div class="home-post-more">
                            <a href="/post.html" class="comment-more">53 comments</a>
                            <a class="click-more" href="/post.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="featured-posts">
                    <div class="featured-posts-title">Featured posts</div>
                    <div class="featured-posts-cover">
                        <img src="/images/photos/featured.jpg" alt="featured post image">
                    </div>
                    <ul>
                        <li><a href="/#">Places you must visit</a></li>
                        <li><a href="/#">Amazing art of paper</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tabs">
                    <ul class="tab_nav">
                        <li class="active"><a href="/#posts" data-toggle="tab">New Posts</a></li>
                        <li><a href="/#popular" data-toggle="tab">Popular Posts</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="posts">
                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-1.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">All the titles you need</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-2.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">The book that i love to read all the time</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-3.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">All the titles you need in your website</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-4.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">Colorful books</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-5.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">All the titles you need</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/sport/post-6.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">All the things you need to know</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="popular">
                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-1.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">Colorful books with great images</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-2.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">Colorful books</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-3.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">The book that i love to read</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-4.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">Colorful books with great images</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-5.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">Colorful books</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>

                            <div class="tab-one">
                                <div class="tab-cover">
                                    <a href="/#">
                                        <img src="/images/photos/design/post-6.jpg" alt="tab image" />
                                    </a>
                                </div>
                                <h4>
                                    <a href="/#">The book that i love to read</a>
                                </h4>
                                <div class="tab-date">
                                    <span>Posted :</span> 15 oct
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="center-it">
            <ul class="display-metod">
                <li>view categories</li>
                <li class="view-1"><a href="/index.html"></a></li>
                <li class="view-2"><a href="/index-2.html"></a></li>
            </ul>
        </div>

        <div class="site-title">Politics</div>

        <div class="row">
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/world/post-1.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">France, Italy see leeway on budget rules at EU summit</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; World
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/world/post-2.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Merkel proposes increasing youth unemployment funds at EU summit</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; World
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/world/post-3.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Obama visits the Russian president Vladimir Putin</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; World
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title">Design</div>

        <div class="row">
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/design/post-1.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Estimating and Costing for Interior Designers: A Step by Step Workbook</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; design
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/design/post-2.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Designing Commercial Interiors: Applying Sustainable Concepts &
                            Practices</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; design
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/design/post-3.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Dictionary of Interior & Exterior Design, 3rd Edition Book</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; design
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title">Technology</div>

        <div class="row">
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/technology/post-1.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Inside the wild movement to turn us into immortal cyborgs</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 dec &nbsp; / &nbsp; Technology
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/technology/post-2.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Who needs HP and Dell? Facebook now designs all its own servers</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>22 dec &nbsp; / &nbsp; Technology
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/technology/post-3.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Microsoft has build a new Data-Center in Dublin</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>25 dec &nbsp; / &nbsp; Technology
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title">Travel</div>

        <div class="row">
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/travel/post-1.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">San-Martin is the perfect place for your vacation</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Travel
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/travel/post-2.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">You have to spend some time here to understand "What good life is!"</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Travel
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/travel/post-3.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Palms, sun, beach what else can you possibly need</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Travel
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title">Sport</div>

        <div class="row">
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/sport/post-1.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Lets Give Nadal Some Credit</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Sport
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/sport/post-2.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Sochi 2014: Olympic Committee </a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Sport
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-post">
                    <div class="home-post-cover">
                        <img src="/images/photos/sport/post-3.jpg" alt="home page post">
                    </div>
                    <h2 class="home-post-title">
                        <a href="/post.html">Barcelona Football Club history</a>
                    </h2>
                    <div class="home-post-details">
                        <span>Posted : </span>20 oct &nbsp; / &nbsp; Sport
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="home-post-more">
                        <a href="/post.html" class="comment-more">53 comments</a>
                        <a class="click-more" href="/post.html">read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="twitter_widget" data-user="teslathemes" data-posts="1">
            <h4 class="twitter-title site-text-color">latest tweets</h4>
        </div>
    </div>
</div>