<!-- Basic Alerts -->
<div class="widget ">
    <div class="widget-body">
        
        <div class="alert alert-warning alert-dissmissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <%= error %>
        </div>
        
    </div>
</div>