<!-- Basic Alerts -->
<div class="widget ">
    <div class="widget-body">
        
        <div class="  alert alert-<%= className %> alert-dissmissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <%= msg  %>
            
        </div>
        
    </div>
</div>