<div class="footer">
    <div class="container">
        <div class="col-md-4">
            <div class="widget">
                <h2 class="widget-title">Contact info</h2>
                <ul class="widget-contact">
                    <li class="widget-contact-phone">(222) 589 589 667</li>
                    <li class="widget-contact-phone">(333) 589 589 667</li>
                    <li class="widget-contact-mail"><a href="/mailto:novelty@gmail.com">novelty@gmail.com</a></li>
                    <li class="widget-contact-address">Novelty Co<br />Weihburggasse 15.3<br />A-10222 VIENNA
                        <br />AUSTRIA</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <h2 class="widget-title">Latest posts</h2>
                <ul class="widget-latest-posts">
                    <li>
                        <span class="widget-latest-posts-cover">
                            <a href="/#">
                                <img src="/images/photos/travel/post-1.jpg" alt="post image">
                            </a>
                        </span>
                        <h4><a href="/#">Running helps become a better athlete. <br />Start runing today, don't
                                hesitate.</a></h4>
                        <span class="widget-latest-posts-time">Posted : 20 oct</span>
                    </li>
                    <li>
                        <span class="widget-latest-posts-cover">
                            <a href="/#">
                                <img src="/images/photos/technology/post-2.jpg" alt="post image">
                            </a>
                        </span>
                        <h4><a href="/#">The Secrets of the Years Award was grated, <br />to one of our best
                                singers.</a></h4>
                        <span class="widget-latest-posts-time">Posted : 13 oct</span>
                    </li>
                    <li>
                        <span class="widget-latest-posts-cover">
                            <a href="/#">
                                <img src="/images/photos/sport/post-3.jpg" alt="post image">
                            </a>
                        </span>
                        <h4><a href="/#">Have the gratest design for your brand, <br /> with one of our gratest
                                designer.</a></h4>
                        <span class="widget-latest-posts-time">Posted : 8 oct</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="widget">
                <h2 class="widget-title">Follow us</h2>
                <ul class="widget-follow-us">
                    <li><a class="widget-follow-us-facebook" href="/#">Facebook</a></li>
                    <li><a class="widget-follow-us-twitter" href="/#">Twitter</a></li>
                    <li><a class="widget-follow-us-dribbble" href="/#">Dribbble</a></li>
                    <li><a class="widget-follow-us-google" href="/#">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright 2013 <span>Novelty</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Designed by <a
            href="/http://www.teslathemes.com" target="_blank">Teslathemes</a>
    </div>
</div>