<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="search-box">
                <button class="dismiss"><i class="ion-close-round"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search something ..." class="form-control">
                </form>
            </div>
            <div class="navbar-holder d-flex align-items-center align-middle justify-content-between horizontal-menu">
                <!-- Begin Logo -->
                <div class="navbar-header">
                    <a href="db-modern.html" class="navbar-brand">
                        <div class="brand-image brand-big">
                            <img src="/assets/img/logo.png" alt="logo" style="width: 70px;" class="logo-big">
                        </div>
                        <div class="brand-image brand-small">
                            <img src="/assets/img/logo.png" alt="logo" class="logo-small">
                        </div>
                    </a>
                </div>
                <nav class="navbar navbar-light navbar-expand-lg main-menu">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li><a href="maps-leaflet.html">Home</a></li>
                            <li><a href="maps-leaflet.html">About</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="components" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Components</a>
                                <ul class="dropdown-menu" aria-labelledby="components">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" id="elements" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="la la-share-alt"></i>UI Elements</a>
                                        <ul class="dropdown-menu" aria-labelledby="elements">
                                            <li><a href="components-buttons.html">Buttons</a></li>
                                            <li><a href="components-alerts.html">Alerts</a></li>
                                            <li><a href="components-modal.html">Modal</a></li>
                                            <li><a href="components-notifications.html">Noty</a></li>
                                            <li><a href="components-timeline.html">Timeline</a></li>
                                            <li><a href="components-progress.html">Progress</a></li>
                                            <li><a href="components-tabs.html">Tabs</a></li>
                                            <li><a href="charts-chartjs.html">Chart Js</a></li>
                                            <li><a href="components-accordion.html">Accordion</a></li>
                                            <li><a href="components-popover.html">Popover</a></li>
                                            <li><a href="components-tooltip.html">Tooltip</a></li>
                                            <li><a href="components-scrollable.html">Scrollable</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" id="icons" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="la la-font"></i>Icons</a>
                                        <ul class="dropdown-menu" aria-labelledby="icons">
                                            <li><a href="icons-lineawesome.html">Line Awesome</a></li>
                                            <li><a href="icons-themify.html">Themify</a></li>
                                            <li><a href="icons-ionicons.html">Ionicons</a></li>
                                            <li><a href="icons-meteocons.html">Meteocons</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" id="forms" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="la la-list-alt"></i>Forms</a>
                                        <ul class="dropdown-menu" aria-labelledby="forms">
                                            <li><a href="forms-basic.html">Form Basic</a></li>
                                            <li><a href="forms-validation.html">Form Validation</a></li>
                                            <li><a href="forms-wizard.html">Form Wizard</a></li>
                                            <li><a href="forms-select.html">Bootstrap Select</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" id="tables" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                class="la la-th-large"></i><span>Tables</span></a>
                                        <ul class="dropdown-menu" aria-labelledby="tables">
                                            <li><a href="tables-basic.html">Basic</a></li>
                                            <li><a href="tables-datatables.html">Datatables</a></li>
                                            <li><a href="tables-tabledit.html">Tabledit</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="maps-leaflet.html">Contact</a></li>
                        </ul>
                        <% if(!_locals.isLoggedIn){ %>
                        <ul class="navbar-nav ml-auto">
                            <li><a href="/users/register"> Sign up </a></li>
                            <li><a href="/users/login">Login</a></li>
                        </ul>
                        <% }else{ %>
                            <ul class="navbar-nav ml-auto">
                                <li><a href="/users/profile/<%= _locals.user.id %>"> Profile </a></li> 
                                <li><a href="/users/logout"> Log out </a></li> 
                            </ul>
                        <% } %>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</header>