<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href="/index.html"><span class="site-text-color">N</span>ovelty</a>
                </div>
            </div>
            <div class="col-md-4">
                <form class="subscription" id="newsletter" method="post">
                    <span class="subscription-text">Newsletter subscribe</span>
                    <span class="input-cover">
                        <input type="submit" value="" class="subscription-button">
                        <input type="text" name="email" placeholder="Email ..." class="subscription-line">
                    </span>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="header-socials">
                    <li><a class="header-socials-facebook" href="/#"></a></li>
                    <li><a class="header-socials-twitter" href="/#"></a></li>
                    <li><a class="header-socials-pinterest" href="/#"></a></li>
                    <li><a class="header-socials-vimeo" href="/#"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="menu site-bg-color">
        <div class="container">
            <form class="header-search">
                <input type="submit" value="" class="header-search-button">
                <input type="text" name="search" placeholder="Search" class="header-search-line">
            </form>
            <div class="responsive-menu">Menu</div>
            <ul class="responsive-menu-active">
                <li class="current-page"><a href="/index.html">Home</a></li>
                <li><a href="/index-category.html">Design</a>
                    <ul class="children">
                        <li><a href="/index-category.html">Design List view</a></li>
                        <li><a href="/index-category-grid.html">Design Grid view</a></li>
                        <li><a href="/index-category-grid-2.html">Design Grid view 2</a></li>
                        <li><a href="/index-category-grid-3.html">Design Grid view 3</a></li>
                    </ul>
                </li>
                <li><a href="/index-category.html">Politics</a></li>
                <li><a href="/index-category.html">Travel</a></li>
                <li><a href="/index-category.html">Technology</a></li>
                <li><a href="/index-category.html">Sport</a></li>
                <li><a href="/#">Pages</a>
                    <ul class="children">
                        <li><a href="/contact.html">Contact Us</a></li>
                        <li><a href="/about.html">About Us</a></li>
                        <li><a href="/features.html">Features</a></li>
                        <li><a href="/error-404.html">Error-404</a></li>
                        <li><a href="/#">Drop-Down 2</a>
                            <ul class="children">
                                <li><a href="/#">Menu</a></li>
                                <li><a href="/#">Menu</a></li>
                                <li><a href="/#">Drop-Down 3</a>
                                    <ul class="children">
                                        <li><a href="/#">Menu</a></li>
                                        <li><a href="/#">Menu</a></li>
                                        <li><a href="/#">Menu</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>