<div class="content">
    <div class="container">
        <div class="columns">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form class="register-form" action="" method="post">
                        <h2 class="text-center">Login in here</h2>
                        <p for="" class="mt-10">Username</p>
                        <input class="form-input" type="text" name="email" id="">
                        <p for="" class="mt-10">Password</p>
                        <input class="form-input" type="password" name="password" id="">
                        <button type="submit" class="mt-20 custom-btn text-center red-btn white-text hover-red-btn">Login</button>
                        <a href="http://" class="mt-10 custom-btn text-center bold-gray-text lightGray-btn hover-lightGray-btn">Sign up here !</a>

                    </form>
                </div>
            </div>
        </div>
        <!-- End Left Content -->
        <!-- Begin Right Content -->
        <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
            <!-- Begin Form -->
            <div class="authentication-form mx-auto">
                <div class="logo-centered">
                    <a href="db-default.html">
                        <img src="/assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <h3>Sign In To Elisyam</h3>
                <form>
                    <div class="group material-input">
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="group material-input">
                        <input type="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                </form>
                <div class="row">
                    <div class="col text-left">
                        <div class="styled-checkbox">
                            <input type="checkbox" name="checkbox" id="remeber">
                            <label for="remeber">Remember me</label>
                        </div>
                    </div>
                    <div class="col text-right">
                        <a href="pages-forgot-password.html">Forgot Password ?</a>
                    </div>
                </div>
                <div class="sign-btn text-center">
                    <a href="db-default.html" class="btn btn-lg btn-gradient-01">
                        Sign in
                    </a>
                </div>
                <div class="register">
                    Don't have an account?
                    <br>
                    <a href="pages-register.html">Create an account</a>
                </div>
            </div>
            <!-- End Form -->
        </div>
        <!-- End Right Content -->
    </div>
    <!-- End Row -->
</div>